<?xml version="1.0"?>
<list>
  <ref>
    <image>library-opening.jpg</image>
    <title>Library inauguration</title>
    <alt>Library inauguration</alt>
  </ref>
  <ref>
    <image>park.jpg</image>
    <title>Walk at the park</title>
    <alt>Walk at the park</alt>
  </ref>
  <ref>
    <image>petanque.jpg</image>
    <title>Petanque competition</title>
    <alt>Petanque competition</alt>
  </ref>
  <ref>
    <image>social-lunch.jpg</image>
    <title>Social lunch</title>
    <alt>Social lunch</alt>
  </ref>
</list>